@charset "UTF-8";
/* reset basic */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ecf3;
  overflow-x: hidden;
}

strong {
  font-weight: 500;
}

button {
  border: none;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

a:any-link {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/*

--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #111827;
}

.heading-primary {
  font-size: clamp(1.8rem, 5vw, 2.4rem);
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.8rem;
}
.btn--sign-in {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  padding: 1.2rem 3.6rem;
  color: #273f87;
  background-color: #e9ecf3;
  align-self: center;
}
.btn--clean, .btn--print, .btn--submit {
  padding: 1rem;
  border: 1px solid #273f87;
  border-radius: 0.8rem;
  text-align: center;
  line-height: 1;
}
.btn--clean, .btn--print {
  color: #273f87;
  background-color: #fff;
}
.btn--clean:hover, .btn--print:hover {
  color: #fff;
  background: #273f87;
}
.btn--print {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.btn--submit {
  color: #fff;
  background-color: #273f87;
}
.btn--icons {
  color: #273f87;
  background-color: transparent;
  border: 1px solid #273f87;
  border-radius: 0.4rem;
  height: 3rem;
  width: 3rem;
}
.btn--icons:hover {
  color: #fff;
  background-color: #273f87;
}

/* botões de edicão  */
.btns__options {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding-top: 1rem;
  background-color: #fff;
  border-radius: 0.4rem;
  list-style: none;
  border-top: 1px solid #e9ecf3;
}
.btns__options__item {
  color: #273f87;
  background-color: transparent;
  border: 1px solid #273f87;
  border-radius: 0.4rem;
  height: 3rem;
  width: 3rem;
}
.btns__options__item:hover {
  color: #fff;
  background-color: #273f87;
}

@media (min-width: 768px) {
  .btn--sign-in {
    padding: 0.8rem 2.4rem;
    font-size: 1.8rem;
  }
  .controls-btns {
    padding: 0;
  }
}
.description-list {
  margin-top: 3rem;
  width: 100%;
  /*****************/
  /* layout para descrição de produto */
  /*****************/
}
.description-list .description {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #e9ecf3;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 5px #e9ecf3;
}
.description-list .description__text-title {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  font-weight: 600;
}
.description-list .description__text-content {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  text-transform: uppercase;
}
.description-list .product__description {
  grid-area: 1/1/2/-1;
}
.description-list .product__reference {
  grid-area: 2/1/3/-1;
}
.description-list .product__price {
  grid-area: 3/1/4/-1;
}
.description-list .product .btns__options {
  grid-area: 4/1/5/-1;
}

/*****************/
/* layout para descrição de transferencia */
/*****************/
.transference__origin {
  grid-area: 1/1/2/7;
}
.transference__target {
  grid-area: 1/7/2/-1;
}
.transference__nfe {
  grid-area: 2/1/3/7;
}
.transference__number-volume {
  grid-area: 2/7/3/-1;
}
.transference .btns__options {
  grid-area: 3/1/4/-1;
}

@media (min-width: 413px) {
  .transference__origin {
    grid-area: 1/1/2/4;
  }
  .transference__target {
    grid-area: 1/4/2/7;
    justify-self: center;
  }
  .transference__nfe {
    grid-area: 1/7/2/10;
    justify-self: center;
  }
  .transference__number-volume {
    grid-area: 1/10/2/-1;
    justify-self: end;
  }
  .transference__options {
    border-top: 1px solid #e9ecf3;
    grid-area: 2/1/3/-1;
  }
}
/*****container para os formulários******/
main.container {
  width: 95%;
  max-width: 85rem;
  margin: 8rem auto;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 1.2rem;
  transition: all 1s;
}

@media (min-width: 768px) {
  main.container {
    width: 90%;
    padding: 1rem 2rem;
  }
}
/******form global******/
.form {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;
}
.form__label {
  font-size: 1.6rem;
  font-weight: 500;
}
.form__input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid;
  border-radius: 0.8rem;
  font-size: clamp(1.2rem, 4vw, 1.6rem);
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
}
.form__controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}
.form__controls .btn:nth-child(1) {
  grid-area: 1/1/2/-1;
}

@media (min-width: 768px) {
  .form__controls {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form__controls .btn:nth-child(1) {
    grid-area: 1/1/2/2;
  }
}
/*****formulário para descrição de produto******/
.form--description-product .form__group:nth-child(1) {
  grid-area: 1/1/2/-1;
}
.form--description-product .form__group:nth-child(2) {
  grid-area: 2/1/3/-1;
}
.form--description-product .form__group:nth-child(3) {
  grid-area: 3/1/4/-1;
}
.form--description-product .form__controls {
  grid-area: 5/1/6/-1;
}

@media (min-width: 768px) {
  .form--description-product .form__group:nth-child(1) {
    grid-area: 1/1/2/-1;
  }
  .form--description-product .form__group:nth-child(2) {
    grid-area: 2/1/3/9;
  }
  .form--description-product .form__group:nth-child(3) {
    grid-area: 2/9/3/13;
  }
}
/*****formulário descrição de transferência******/
.form-description-transference .form__group:nth-child(1) {
  grid-area: 1/1/2/-1;
}
.form-description-transference .form__group:nth-child(2) {
  grid-area: 2/1/3/-1;
}
.form-description-transference .form__group:nth-child(3) {
  grid-area: 3/1/4/7;
}
.form-description-transference .form__group:nth-child(4) {
  grid-area: 3/7/4/-1;
}
.form-description-transference .form__controls {
  grid-area: 4/1/5/-1;
}
.form-description-transference select {
  width: 100%;
  border: 1px solid;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
}
.form-description-transference select:focus {
  border: 1px solid;
}
.form-description-transference select :disabled {
  color: #9CA3AF;
}

@media (min-width: 768px) {
  .form-description-transference .form__group:nth-child(1) {
    grid-area: 1/1/2/7;
  }
  .form-description-transference .form__group:nth-child(2) {
    grid-area: 1/7/2/-1;
  }
  .form-description-transference .form__group:nth-child(3) {
    grid-area: 2/1/3/7;
  }
  .form-description-transference .form__group:nth-child(4) {
    grid-area: 2/7/3/-1;
  }
  .form-description-transference .form__controls {
    grid-area: 3/1/4/-1;
  }
}
/*********formulário para circular*********/
.form--circular .form__group:nth-child(1) {
  grid-area: 1/1/2/-1;
}
.form--circular .btn--submit {
  grid-area: 2/1/3/-1;
  width: 100%;
  max-width: 40rem;
  justify-self: center;
}

.header {
  background-color: #273f87;
}
.header__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.header__logo-img {
  width: 5rem;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .header__container {
    padding: 0.5rem 3rem;
  }
}
.navbar {
  width: 100%;
  height: 100dvh;
  padding-top: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transform: translateX(100%) scaleX(0);
  transform-origin: right;
  opacity: 0;
  transition: all 0.7s ease-out;
  background-color: #273f87;
}
.navbar__button-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  z-index: 1;
  font-size: 8rem;
  overflow: hidden;
}
.navbar__button-mobile .icon {
  margin: -0.8rem;
  color: #fff;
}
.navbar__button-mobile .icon[name=close-outline] {
  display: none;
}
.navbar.open {
  transform: translateX(0) scaleX(1);
  opacity: 1;
}
.navbar.open + .navbar__button-mobile .icon[name=close-outline] {
  display: block;
}
.navbar.open + .navbar__button-mobile .icon[name=menu-outline] {
  display: none;
}
.navbar__list {
  height: 85%;
  width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.navbar__item {
  width: 100%;
  position: relative;
  color: #bec5db;
  font-family: "Poppins", sans-serif;
}
.navbar__item:hover {
  color: #fff;
}
.navbar__item > * {
  width: 100%;
  display: inline-block;
  color: inherit;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
}

@media (min-width: 769px) {
  .navbar {
    all: initial;
    width: 60%;
    display: flex;
    gap: 5%;
  }
  .navbar__list {
    padding: 0;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__item {
    width: auto;
  }
  .navbar__item > * {
    font-size: 1.8rem;
  }
  .navbar__button-mobile {
    display: none;
  }
}
@media (min-width: 820px) {
  .navbar {
    width: 65%;
    gap: 7%;
  }
}
@media (min-width: 969px) {
  .navbar {
    gap: 15%;
  }
}
.search-form {
  max-width: 18rem;
  padding: 0.4rem 0.8rem 0.4rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 50rem;
  transition: outline-offset 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.search-form__input {
  width: 100%;
  border: none;
  color: #374151;
  font-size: clamp(1.2rem, 4.5vw, 1.6rem);
  text-transform: uppercase;
}
.search-form__input::placeholder {
  color: #9CA3AF;
  font-size: clamp(1.2rem, 4.5vw, 1.6rem);
  text-transform: none;
  transition: opacity 0.3s ease-in-out;
}
.search-form__input:focus {
  outline: none;
}
.search-form__input::selection {
  background: #273f87;
  color: #fff;
}
.search-form__button {
  width: 2.4rem;
  height: 2.4rem;
  color: #273f87;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form__icon {
  width: 2.4rem;
  height: 2.4rem;
}
.search-form:has(:focus) {
  outline: 2px solid #273f87;
  outline-offset: -4px;
}
.search-form:has(:focus) ::placeholder {
  opacity: 0;
}

.submenu__button {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.submenu__button.open .submenu__icon[name=chevron-up-outline] {
  opacity: 1;
  transform: translateY(0);
}
.submenu__button.open .submenu__icon[name=chevron-down-outline] {
  opacity: 0;
  transform: translate(0, 3px);
}
.submenu__icon {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.submenu__icon[name=chevron-up-outline] {
  position: absolute;
  left: 126px;
  opacity: 0;
}
.submenu__icon[name=chevron-down-outline] {
  opacity: 1;
  transform: translate(0);
}
.submenu__list {
  position: absolute;
  top: 100%;
  max-height: 0;
  width: calc(100dvw - 2rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #e9ecf3;
  transition: max-height 0.5s ease-in-out;
  border-radius: 0.8rem;
}
.submenu__list.open {
  max-height: 8rem;
}
.submenu__item {
  padding-left: 2rem;
  color: #273f87;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border: 2px solid #e9ecf3;
  border-radius: 0.8rem;
  color: #273f87;
}
.submenu__item:hover {
  color: #e9ecf3;
  background-color: #273f87;
}
.submenu__link {
  font-size: 2rem;
  display: inline-block;
  width: 100%;
  color: inherit;
}

@media (min-width: 769px) {
  .submenu__icon[name=chevron-up-outline] {
    position: absolute;
    left: 95px;
  }
  .submenu__list {
    max-width: 29rem;
    top: 200%;
    background: #273f87;
  }
  .submenu__item {
    color: #e9ecf3;
    border-color: #273f87;
  }
  .submenu__item:hover {
    color: #273f87;
    background: #e9ecf3;
  }
  .submenu__link {
    font-size: 1.8rem;
  }
}
.login {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  align-items: center;
  background-image: url(/assets/img/bg-img-login.jpg);
  background-size: cover;
  background-position: center;
}
.login .logo-img {
  width: 10rem;
}
.login .heading-primary {
  font-size: 2.4rem;
  text-align: center;
  color: #273f87;
  margin-bottom: 0;
}

.form-container {
  align-self: baseline;
  height: max-content;
  width: 90%;
  max-width: 28rem;
  padding: 1rem 2rem 2rem;
  border-radius: 1.2rem;
  background-color: #fff;
}

.form-login .input {
  font-size: 1.8rem;
  text-transform: lowercase;
}
.form-login label[for=email] {
  grid-area: 1/1/2/-1;
}
.form-login label[for=password] {
  grid-area: 2/1/3/-1;
}
.form-login .forgot-password {
  color: #273f87;
  font-weight: 500;
  margin-top: -0.5rem;
  grid-area: 3/1/4/-1;
}
.form-login .submit {
  grid-area: 4/1/5/-1;
}

.copied-notice {
  position: absolute;
  top: 8.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  text-align: center;
  background-color: #86efac;
  opacity: 0;
  transition: 0.7s ease;
  pointer-events: none;
}

.copied-notice.active {
  opacity: 1;
}

.product__description-pdf {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
.product__description-pdf table,
.product__description-pdf td,
.product__description-pdf tr {
  border: 1px solid;
  border-collapse: collapse;
}
.product__description-pdf table {
  margin: 2rem auto;
  width: 55rem;
}
.product__description-pdf .product {
  display: grid;
  grid-template-columns: 76px repeat(4, 1fr);
}
.product__description-pdf .product__img {
  border: 1px solid;
  display: flex;
  justify-content: center;
  width: 76px;
  height: 76px;
  grid-area: 1/1/3/2;
  background-color: #ffff00;
}
.product__description-pdf .product__img img {
  width: 100%;
}
.product__description-pdf .product__description {
  display: flex;
  align-items: end;
  grid-area: 1/2/2/-1;
}
.product__description-pdf .product__reference {
  display: flex;
  align-items: last baseline;
  grid-area: 2/2/3/5;
}
.product__description-pdf .product__price {
  display: flex;
  align-items: last baseline;
  grid-area: 2/5/3/-1;
}
.product__description-pdf .product__text-title {
  padding-left: 0.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}
.product__description-pdf .product__text-content {
  font-size: 1.4rem;
  padding-left: 0.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* Evita quebra de linha */
}

/*# sourceMappingURL=style.css.map */
