.main-container {
    max-width: 102.4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    padding: 1.2rem;

    .main {
        padding: 2px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        transition: all 0.7s ease;
    }
}

@media (min-width: 768px) {
    .main-container {
        height: calc(100dvh - 6.7rem);
        padding: 1.2rem 2.4rem;
    }

    .main {
        overflow-y: auto;
        scrollbar-width: none;
        height: calc(100dvh - 9.1rem);
    }
}

@media (min-width: 820px) {
    .main-container {
        margin: 0 auto;
        padding: 1.2rem;
        grid-template-columns: auto 1fr;
    }
}
