.products-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    gap: 2.4rem;
}

@media (min-width: 360px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.4rem;
    }
}

@media (min-width: 768px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2.4rem;
    }
}

@media (min-width: 820px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.4rem;
    }
}

@media (min-width: 968px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2.4rem;
    }
}

