@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.navbar__button-mobile {
    position: relative;
    z-index: 2;
    @include mixins.flex-center;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 4.5rem;
    border-radius: 0.8rem;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .icon {
        margin: -0.8rem;
        color: #fff;

        &[name="close-outline"] {
            display: none;
        }
    }

    &.open {
        & > .icon[name="close-outline"] {
            display: block;
        }

        & > .icon[name="menu-outline"] {
            display: none;
        }
    }
}

@media (min-width: 820px) {
    .navbar__button-mobile {
        display: none;
    }
}

.btn {
    line-height: 1;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    font-family: "Poppins", sans-serif;

    &--clean,
    &--print,
    &--submit {
        padding: 1rem;
        border-radius: 0.8rem;
        border: 1px solid;
    }

    &--clean,
    &--print {
        border-color: variables.$text-clr;
        color: variables.$text-clr;
        background-color: #fff;

        &:hover {
            color: #fff;
            background: variables.$clr-primary;
            border-color: variables.$clr-primary;
        }
    }

    &--print {
        @include mixins.flex-center;
        gap: 0.4rem;
    }

    &--submit {
        color: #fff;
        background-color: variables.$clr-primary;
    }

    &--copy {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        padding: 0.8rem;
        margin-block: 0.2rem 0.4rem;
        color: variables.$white;
        border-radius: 0.4rem;
        background-color: variables.$clr-primary;
        transition: 0.3s background-color ease;

        &:hover {
            background-color: variables.$clr-primary-dark;
        }
    }

    &--icons {
        color: variables.$clr-primary;
        background-color: transparent;
        border: 1px solid variables.$clr-primary;
        border-radius: 0.4rem;
        height: 3.2rem;
        width: 3.2rem;

        &:hover {
            color: #fff;
            background-color: variables.$clr-primary;
        }
    }
}

/* botões de edicão  */
.btns__options {
    display: flex;
    justify-content: end;
    gap: 1.2rem;
    padding-top: 1rem;
    border-top: 1px solid variables.$bg-clr-primary;
}
