@use "../tokens/colors";

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    height: 3.2rem;

    padding-inline: 1.6rem;

    line-height: 1;

    border-radius: 0.8rem;

    transition:
        color 0.3s ease,
        border-color 0.3s ease,
        background-color 0.3s ease;

    &__icon {
        flex-shrink: 0;
        width: 1.4rem;
        height: 1.4rem;
        stroke-width: 1.5;
    }

    &--solid {
        color: colors.$text-color-light;
        background-color: colors.$color-primary;

        &:hover {
            background-color: colors.$color-primary-dark;
        }
    }

    &--soft {
        color: colors.$color-primary;
        background-color: colors.$blue-050;

        &:hover {
            color: colors.$text-color-light;
            background-color: colors.$color-primary;
        }
    }

    &--outline {
        color: colors.$gray-600;
        border: 1px solid colors.$gray-400;

        &:hover {
            color: colors.$color-primary;
            background-color: colors.$blue-100;
            border-color: colors.$blue-300;
        }
    }

    &--danger {
        &:hover {
            color: #b91c1c;
            background-color: #fecaca;
            border-color: #f87171;
        }
    }

    &--small {
        height: 2.8rem;
        padding-inline: 1.2rem;

        font-size: 1rem;

        span {
            margin-top: 0.2rem;
        }
    }

    &--full-width {
        width: 100%;
    }
}
