.product {
    &__card {
        max-width: 30rem;
        padding: 1.2rem;
        font-size: 1.2rem;
        color: $text-clr-secondary;
        box-shadow: 0px 0px 10px 1px hsla(0, 0%, 0%, 0.1);
    }

    &__img {
        width: 100%;
        aspect-ratio: 3/4;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__description {
        font-weight: 500;
        margin-block: .4rem .8rem;
    }

    &__list {
        max-height: 28.79rem;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    &__item {
        padding-bottom: 0.4rem;
        border-bottom: 1px solid $gray-200;
        margin-bottom: 0.8rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__reference {
        font-family: "Roboto", sans-serif;
    }

    &__colors {
       display: flex;
       align-items: center;
       gap: .4rem;

        div {
            width: 1.4rem;
            height: 1.4rem;
            border: .01px solid;
        }
    }
}
