.description-list {
    margin-top: 3rem;
    width: 100%;

    .description {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 1px solid $bg-clr-primary;
        border-radius: 0.8rem;
        box-shadow: 0px 0px 5px $bg-clr-primary;

        &__text-title {
            font-size: clamp(1.4rem, 2vw, 1.6rem);
            font-weight: 600;
        }

        &__text-content {
            font-family: "Roboto", sans-serif;
            font-size: clamp(1.4rem, 2vw, 1.6rem);
            text-transform: uppercase;
        }
    }

    /*****************/
    /* layout para descrição de produto */
    /*****************/
    .product {
        &__description {
            grid-area: 1 / 1 / 2/ -1;
        }

        &__reference {
            grid-area: 2 / 1 / 3 / -1;
        }

        &__price {
            grid-area: 3 / 1/ 4 / -1;
        }

        .btns__options {
            grid-area: 4 / 1 / 5 / -1;
        }
    }
}

/*****************/
/* layout para descrição de transferencia */
/*****************/

.transference {
    &__origin {
        grid-area: 1 / 1 / 2 / 7;
    }

    &__target {
        grid-area: 1 / 7 / 2 / -1;
    }

    &__nfe {
        grid-area: 2 / 1 / 3 / 7;
    }

    &__number-volume {
        grid-area: 2 / 7 / 3 / -1;
    }

    .btns__options {
        grid-area: 3 / 1 / 4 / -1;
    }
}

@media (min-width: 413px) {
    .transference {
        &__origin {
            grid-area: 1 / 1 / 2 / 4;
        }

        &__target {
            grid-area: 1 / 4 / 2 / 7;
            justify-self: center;
        }

        &__nfe {
            grid-area: 1 / 7 / 2 / 10;
            justify-self: center;

        }

        &__number-volume {
            grid-area: 1 / 10 / 2 / -1;
            justify-self: end;
        }

        &__options {
            border-top: 1px solid $bg-clr-primary;
            grid-area: 2 / 1 / 3 / -1;
        }
    }
}
