.form-container {
    height: min-content;
    position: relative;
    grid-area: 1 / 1 / 2 /2;
}

/******form global******/
.form {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .4rem .8rem;

    &__group {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 500;
        color: $text-clr-secondary;
    }

    &__input,
    select {
        width: 100%;
        padding:.8rem;
        border: none;
        outline: 1px solid $outline-form;
        border-radius: 0.8rem;
        font-size: clamp(1.2rem, 1.4vw, 1.4rem);
        text-transform: uppercase;
        line-height: 1;
        color: $input-text-clr;
        cursor: pointer;
        transition: outline 0.5s ease-out;
        background-color: $white;

        &:focus {
            outline: 1px solid $clr-secondary;
        }
    }

    textarea {
        width: 100%;
        height: 9rem;
        resize: none;
        padding: 1.2rem;
        margin-top: 0.4rem;
        border-radius: 0.8rem;
        color: $input-text-clr;
        border: none;
        outline: 1px solid $bg-clr-secondary;
        box-shadow: 0px 0px 5px $bg-clr-primary;
        transition: outline 0.1s ease-out;

        &::placeholder {
            color: $placeholder-text-clr;
        }

        &:focus {
            outline: 2px solid $clr-secondary;
        }
    }

    &__controls {
        margin-top: 0.4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;

        .btn:nth-child(1) {
            grid-area: 1 / 1 / 2 / -1;
        }
    }
}

@media (min-width: 768px) {
    .form {
        &__group {
            gap: 0.2rem;
        }

        &__label {
            font-size: 1.4rem;
        }

        &__controls {
            grid-template-columns: 1fr 1fr 1fr;

            .btn:nth-child(1) {
                grid-area: 1 / 1 / 2 / 2;
            }
        }
    }
}

/*****formulário para descrição de produto******/
.form--description-product {
    .form__group {
        &:nth-child(1) {
            grid-area: 1 / 1 / 2 / -1;
        }

        &:nth-child(2) {
            grid-area: 2 / 1 / 3 / 7;
        }

        &:nth-child(3) {
            grid-area: 2 / 7 / 3 / -1;
        }

        &:nth-child(4) {
            grid-area: 3 / 1 / 4 / 7;
        }

        &:nth-child(5) {
            grid-area: 3 / 7 / 4 / -1;
        }


        &:nth-child(6) {
            grid-area: 4 / 1 / 5 / -1;
        }
    }

    .form__controls {
        grid-area: 5 / 1 / 6 / -1;
    }
}

@media (min-width: 768px) {
    .form--description-product {
        .form__group {
            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 9;
            }

            &:nth-child(2) {
                grid-area: 1 / 9 / 2 / -1;
            }

            &:nth-child(3) {
                grid-area: 2 / 1 / 3 / 6;
            }
            
            &:nth-child(4) {
                grid-area: 2 / 6 / 3 / 10;
            }

            &:nth-child(5) {
                grid-area: 2 / 10 / 3 / -1;
            }

            &:nth-child(6) {
                grid-area: 3 / 1 / 4 / -1;
                // background-color: red;
            }
        }

        .form__controls {
        grid-area: 4 / 1 / 5 / -1;
    }
    }
}

/*****formulário para descrição de pruduto automatica******/
.form--description-auto {
    .form__group {
        &:nth-child(1) {
            grid-area: 1 / 1 / 2 / -1;
        }
    }

    .form__controls {
        grid-area: 2 / 1 / 3 / -1;
    }
}

/*****formulário para extrair referência de produto e formatar descrição automatica******/
.form--extract-reference {
    margin-bottom: 4.8rem;
}

.form--extract-reference,
.form--formate-product-description {
    margin-top: 0.8rem;
    padding: 1.2rem;
    background-color: $bg-clr-primary;
    border-radius: 0.8rem;

    .form__group {
        &:nth-child(1) {
            grid-area: 1 / 1 / 2 / -1;
        }
    }

    .btn--submit {
        grid-area: 2 / 1 / 3 / -1;
    }
}

/*********formulário para circular*********/
.form--circular {
    height: min-content;
    .form__group {
        &:nth-child(1) {
            margin-top: 3rem;
            grid-area: 1 / 1 / 2 / -1;
        }
    }

    .btn--submit {
        grid-area: 2 / 1 / 3 / -1;
        width: 100%;
        max-width: 40rem;
        justify-self: center;
    }
}

@media (min-width: 768px) {
    .form--circular {
        .form__group {
            &:nth-child(1) {
                margin-top: 2rem;
            }
        }
    }
}


/*********formulário para codigo mil*********/
.form--codigo-mil {
    .form__group {
        flex: 1;
        &:nth-child(1) {
            grid-area: 1 / 1 / 2 / -1;
        }
    }

    .date__group {
        display: flex;
        gap: 1.2rem;
        justify-content: space-between;
        grid-area: 2 / 1 / 3 / -1;
    }
}
