.submenu {
    padding: 0.8rem;

    &__button {
        padding: 0;
        padding-left: 0.8rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &.open {
            .submenu__icon {
                &[name="chevron-up-outline"] {
                    opacity: 1;
                    transform: translateY(0);
                }

                &[name="chevron-down-outline"] {
                    opacity: 0;
                    transform: translateY(1rem);
                }
            }
        }
    }

    &__icon {
        transition: opacity 0.3s ease, transform 0.3s ease;

        &[name="chevron-up-outline"] {
            position: absolute;
            left: 133.5px;
            transform: translateY(-1rem);
            opacity: 0;
        }

        &[name="chevron-down-outline"] {
            opacity: 1;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        border-radius: 0.8rem;
        transition: max-height 0.5s ease-in-out;

        &.open {
            max-height: 14rem;
        }
    }

    &__item {
        padding: 0.4rem;
        padding-left: 0.8rem;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        border-radius: 0.8rem;

        &:hover {
            background-color: $clr-primary;
        }
    }

    &__link {
        font-size: 1.6rem;
        display: inline-block;
        width: 100%;
        color: inherit;
    }
}

@media (min-width: 820px) {
    .submenu {
        padding: 0.4rem;

        &__button {
            padding: 0.4rem;
        }

        &__item {
            padding: 0.4rem;
        }

        &__link {
            font-size: 1.4rem;
        }

        &__icon {
            &[name="chevron-up-outline"] {
                position: absolute;
                left: 95px;
                opacity: 0;
            }
        }
    }
}
