.summary {
    background: white;
    border: 1px solid $gray-200;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin-bottom: 16px;
    flex-shrink: 0;
    height: min-content;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        color: #1f2937;
        display: flex;
        align-items: center;

        & .icon {
            margin-right: 0.8rem;
            font-size: 2.4rem;
        }
    }

    &__store {
        display: flex;
        align-items: center;
        padding: 0.4rem 1.2rem;
        font-size: 1.2rem;
        color: $white;
        background-color: $clr-primary;
        border-radius: 100px;

        .icon {
            margin-right: 0.4rem;
            font-size: 1.8rem;
        }
    }

    &__subtitle {
        font-size: 1.4rem;
        color: $placeholder-text-clr;
        color: $gray-500;
    }
}

.progress-bar {
    &__container {
        margin-bottom: 0.4rem;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0.4rem;
    }

    &__line {
        width: 100%;
        background-color: $gray-200;
        border-radius: 0.4rem;
        height: 0.8rem;
    }

    & {
        background-color: $blue-500;
        height: 0.8rem;
        border-radius: 0.4rem;
        transition: width 0.3s ease;
        width: 0%;
    }

    &__info-text {
        margin-top: 0.4rem;
        font-size: 1.2rem;
        color: $gray-500;
    }
}

.filter {
    &__input {
        width: 100%;
        padding: 0.8rem;
        border: 2px solid #e0e0e0;
        border-radius: 0.8rem;
        font-size: 1.4rem;
        box-sizing: border-box;
        transition: border-color 0.3s;

        &:focus {
            outline: none;
            border-color: $blue-500;
        }
    }
}
