
    <div class="header__container container">
        <a class="header__logo-link" href="index.html" aria-label="Página inicial - Ponto da Moda">
            <img
                class="header__logo-img"
                src="/assets/img/logo-pdm-estoque.svg"
                alt="Logotipo do Ponto da Moda Estoque"
            />
        </a>
        
        <button class="navbar__button-mobile">
            <ion-icon class="icon" name="menu-outline"></ion-icon>
            <ion-icon class="icon" name="close-outline"></ion-icon>
        </button>
    </div>

