
    <div class="header__container container">
        <a class="header__logo-link" href="index.html" aria-label="Página inicial - Ponto da Moda">
            <img
                class="header__logo-img"
                src="assets/img/logo-pdm-estoque.svg"
                alt="Logotipo do Ponto da Moda Estoque"
            />
        </a>

        <form class="search-form" role="search">
            <label for="search-input" class="sr-only">Buscar produto</label>
            <input
                id="search-input"
                name="search"
                class="search-form__input"
                type="text"
                placeholder="Consultar produto"
                autocomplete="off"
                required
            />
            <button type="submit" class="search-form__button" aria-label="Buscar">
                <ion-icon class="search-form__icon" name="search-outline"></ion-icon>
            </button>
        </form>
        <button class="navbar__button-mobile">
            <ion-icon class="icon" name="menu-outline"></ion-icon>
            <ion-icon class="icon" name="close-outline"></ion-icon>
        </button>
    </div>

