<div class="sidebar-container">
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a class="navbar__link" href="codigo-mil.html">Código Mil</a>
            </li>

            <li class="navbar__item submenu">
                <button class="submenu__button">
                    <span>Descrição</span>
                    <ion-icon class="submenu__icon" name="chevron-down-outline"></ion-icon>
                    <ion-icon class="submenu__icon" name="chevron-up-outline"></ion-icon>
                </button>

                <ul class="submenu__list">
                    <li class="submenu__item">
                        <a class="submenu__link" href="descricao-produto.html"
                            >Desc. de Produto - (Manual)</a
                        >
                    </li>

                    <li class="submenu__item">
                        <a class="submenu__link" href="descricao-produto-auto.html"
                            >Desc. de Produto - (Automático)</a
                        >
                    </li>
                </ul>
            </li>

            <li class="navbar__item">
                <a class="navbar__link" href="/circular.html">Circular</a>
            </li>

            <li class="navbar__item">
                <a class="navbar__link" href="/cupom-de-troca.html">Cupom de Troca</a>
            </li>
            
            <li class="navbar__item">
                <a class="navbar__link" href="/referencias-produtos.html">Referências de Produtos</a>
            </li>
        </ul>
    </nav>
</div>
