/* reset basic */

html {
    font-size: 62.5%;
    font-weight: 400;
    color: $text-clr;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: $bg-clr-primary;
    overflow-x: hidden;
}

strong {
    font-weight: 500;
}

button {
    border: none;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
}

a:any-link {
    text-decoration: none;
    // color: inherit
}

button,
a:any-link{
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

ul,
ol {
    list-style: none;
}
