@use "../abstracts/variables" as variables;


html {
    font-size: 62.5%;
    font-weight: 400;
    color: variables.$text-clr;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    color: variables.$text-clr;
    overflow-x: hidden;
}

strong {
    font-weight: 500;
}

button {
    border: none;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
}

a:any-link {
    text-decoration: none;
}

button,
a:any-link {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

ul,
ol {
    list-style: none;
}
