@use "../tokens/colors";

html {
    font-size: 62.5%;
    font-weight: 400;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: colors.$text-color-defaut;
    // overflow-x: hidden;
}

strong {
    font-weight: 500;
}

button {
    border: none;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
a {
    outline: none;
}

ul,
ol {
    list-style: none;
}
