@use "../abstracts/variables" as variables;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



/*
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

.heading-primary {
    font-size: clamp(1.8rem, 8vw, 3.2rem);
    margin-bottom: 2.4rem;
}

.heading-secondary {
    font-size: clamp(1.2rem, 5vw, 2.4rem);
    padding: .8rem;
    padding-left: 1.2rem;
    border-left: 5px solid variables.$clr-secondary;
    background-color: variables.$bg-clr-primary;
    margin-bottom: 1.2rem;
    border-radius: .8rem;
}


