@use "../abstracts/variables" as variables;

body.login {
    display: grid;
    place-items: center;
    min-height: 100dvh;
    background: linear-gradient(-45deg, variables.$clr-primary, variables.$clr-primary-dark);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.form--login {
    font-size: 1.6rem;
    width: 80%;
    padding: 1.6rem 1.6rem 2.4rem;
    border-radius: 1.2rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

    .form {
        &__logo {
            width: 7rem;

            img {
                width: 100%;
            }
        }

        &__title {
            color: variables.$clr-primary;
        }

        &__group {
            width: 100%;
            display: flex;
            gap: 0.2rem;
            flex-direction: column;

            &:nth-of-type(2) {
                margin-bottom: 0.4rem;
            }
        }

        &__label {
            font-size: 1.6rem;
            color: variables.$text-clr-secondary;
        }

        &__input {
            outline: none;
            padding: 0.8rem;
            border: 2px solid #d4d4d4;
            border: 2px solid variables.$outline-form;
            border-radius: 0.8rem;
            color: variables.$input-text-clr;
            transition: border 0.7s  ease;

            &:focus {
                border: 2px solid variables.$clr-primary;
            }
        }

        &__forgot-password {
            align-self: end;
            color: #273f87;
            font-size: 1.2rem;
            text-decoration: none;
            margin-bottom: 0.4rem;
        }

        &__submit {
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: 0.8rem;
            color: #fff;
            cursor: pointer;
            background-color: variables.$clr-primary;
            box-shadow: 10px 10px 10px variables.$shadow-primary;
            transition: all 0.7s ease-out;

            &:hover {
                background-color: variables.$clr-primary-dark;
            }

            &:disabled {
                cursor: not-allowed; /* cursor bloqueado */
                transform: none; /* remove o hover */
                opacity: 0.8; /* leve transparência */
            }
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (min-width: 375px) {
    .form--login {
        width: 70%;
    }
}

@media (min-width: 767px) {
    .form--login {
        // background-color: red;
        max-width: 27rem;
    }
}
